<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/logo.png}" type="image/icon type" />
    <title>Lecturers</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	
	<!-- DELETE lecturer modal -->
	<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить преподавателя</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="lecturers/delete">
					<div class="modal-body d-flex flex-column">
						<input type="hidden" id="modal-delete-person-id" name="id"/>
						<p>Вы действительно хотите удалить преподавателя?</p>
						<p id="modal-delete-lecturer-first-name">name</p>
						<p id="modal-delete-lecturer-last-name">name</p>
					</div>
					<div class="modal-footer">
	    				<input type="submit" class="btn btn-outline-primary" value="Удалить"/>
						<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	      
	<!-- All lecturers table -->
    <div class="container">
    	<div class="row">
			<div class="col-12">
				<h4 class="text-primary">Все преподаватели</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-12">
            	<div class="table-wrapper-scroll-y my-custom-scrollbar">
            		<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
	            		<thead>
	    					<tr>
	      						<th scope="col">Имя</th>
	      						<th scope="col">Фамилия</th>
	      						<th scope="col">Должность</th>
	    					</tr>
	  					</thead>
	  					<tbody>                			
	                		<tr th:each="lecturer : ${lecturers}" onclick="select(this)">
	                			<td>
	                				<input type="hidden" th:value="${lecturer.getPersonId()}" />
	                				<input type="hidden" th:value="${lecturer.getPosition().getId()}" />
	                				<a href="#" th:text="${lecturer.getFirstName()}">lecturer</a>
	                			</td>
	                			<td>
	                				<a href="#" th:text="${lecturer.getLastName()}">lecturer</a>
	                			</td>
	                			<td>
	                				<a href="#" th:text="${lecturer.getPosition().getName()}">lecturer</a>
	                			</td>
	                		</tr>                			
	                	</tbody>
                	</table>
                </div>
            </div>
        </div>
    </div>
    <hr/>  
	<form id="edit-form" method="GET" th:action="@{lecturers/edit}">
          	<input type="hidden" id="selected-id" name="id">
	</form>
    <div class="container">
        		
		<div class="row">
			<div class="col-12 ">
				<a href="lecturers/new" class="btn btn-outline-primary d-inline">Добавить</a>
				<a href="#" class="btn btn-outline-primary d-inline" onclick="showEditPage()">Редактировать</a>
				<button class="btn btn-outline-primary" onclick="showDeleteModal()">Удалить</button>
			</div>
		</div>
    </div>
    <hr/>
    
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>

	function showEditPage() {
		
		var elements = document.getElementsByClassName("selected");
	
		if (elements.length == 0 ) {
			alert("Необходимо выбрать преподавателя для редактирования!");
			return;
		}
	
		document.getElementById("selected-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("edit-form").submit();
	}
	
	function showDeleteModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать преподавателя для удаления!");
			return;
		}
		
		document.getElementById("modal-delete-person-id").value =  elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-delete-lecturer-first-name").innerText = elements[0].getElementsByTagName("a")[0].innerText;
		document.getElementById("modal-delete-lecturer-last-name").innerText = elements[0].getElementsByTagName("a")[1].innerText;
		
        $("#delete-modal").modal('show');
    }
</script>
</body>

</html>