<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="icon" href="resources/img/logo.png" type="image/icon type" />
    <title>Students</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	
	<!-- DELETE student modal -->
	<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить студента</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="students/delete">
				<div class="modal-body d-flex flex-column">
					<input type="hidden" id="modal-delete-person-id" name="person-to-be-deleted-id"/>
					<p>Вы действительно хотите удалить студента?</p>
					<p id="modal-delete-student-first-name">name</p>
					<p id="modal-delete-student-last-name">name</p>
				</div>
				<div class="modal-footer">
    				<input type="submit" class="btn btn-outline-primary" value="Удалить"/>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	      
	<!-- All students table -->
    <div class="container">
    	<div class="row">
			<div class="col-12">
				<h4 class="text-primary">Все студенты</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar" id="student-table">
            		<thead>
    					<tr>
      						<th scope="col"><a href="#" onclick="sortTable('student-table', '0')">Имя</a></th>
      						<th scope="col"><a href="#" onclick="sortTable('student-table', '1')">Фамилия</a></th>
      						<th scope="col"><a href="#" onclick="sortTable('student-table', '2')">Группа</a></th>
    					</tr>
  					</thead>
  					<tbody>
                	<div th:each="student : ${students}">
                		<tr onclick="select(this)">
                			<td>
                				<input type="hidden" th:value="${student.getPersonId()}" />
                				<input type="hidden" th:value="${student.getGroup()} ? ${student.getGroup().getId()} : ''" />
                				<a href="#" th:text="${student.getFirstName()}">student</a>
                			</td>
                			<td>
                				<a href="#" th:text="${student.getLastName()}">student</a>
                			</td>
                			<td>
                				<a href="#" th:text="${student.getGroup()} ? ${student.getGroup().getName()} : 'не распределен'">group</a>
                			</td>
                		</tr>
                	</div>
                	</tbody>
                </table>
            </div>
            </div>
        </div>		
    </div>
    <hr/>    
	<form id="edit-form" method="GET" th:action="@{students/edit}">
          	<input type="hidden" id="selected-id" name="id">
	</form>
    <div class="container">        		
		<div class="row">
			<div class="col-12 ">
				<a href="students/new" class="btn btn-outline-primary d-inline">Добавить</a>
				<a href="#" class="btn btn-outline-primary d-inline" onclick="showEditPage()">Редактировать</a>
				<button class="btn btn-outline-primary" onclick="showDeleteModal()">Удалить</button>
			</div>
		</div>
    </div>
    <hr/>
    
<script src="resources/js/jquery.js"></script>
<script src="resources/js/main.js"></script>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>

<script>

	function showEditPage() {
		
		var elements = document.getElementsByClassName("selected");
	
		if (elements.length == 0 ) {
			alert("Необходимо выбрать студента для редактирования!");
			return;
		}
	
		document.getElementById("selected-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("edit-form").submit();
	}
	
	function showDeleteModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать студента для удаления!");
			return;
		}
		
		document.getElementById("modal-delete-person-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-delete-student-first-name").innerText = elements[0].getElementsByTagName("a")[0].innerText;
		document.getElementById("modal-delete-student-last-name").innerText = elements[0].getElementsByTagName("a")[1].innerText;
		
        $("#delete-modal").modal('show');
    }
    
    function selectGroupForEdit(element) {
        document.getElementById("modal-edit-group-id").value = element.getElementsByTagName("input")[0].value;
        document.getElementById("modal-edit-group-name").value = element.getElementsByTagName("a")[0].innerText;
    }
    
    function sort() {
    	let table = document.getElementById('student-table');
    	let row = Array.from(table.rows)
    		.slice(1)
    		.sort((rowA, rowB) => rowA.getElementsByTagName('td')[0].innerText > rowB.getElementsByTagName('td')[0].innerText ? 1 : -1);
    	table.tBodies[0].append(...row);
    }
</script>
</body>

</html>