<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="icon" href="resources/img/logo.png" type="image/icon type" />
    <title>Students</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	
	<!-- SAVE student modal -->
	<div id="save-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Добавить студента</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="students/new">
				<div class="modal-body d-flex flex-column">
					<input type="hidden" id="modal-save-group-id" name="group-id"/>
					<input class="form-control" id="modal-save-student-first-name" placeholder="Имя" name="first-name"/>
					<br/>				
					<input class="form-control" id="modal-save-student-last-name" placeholder="Фамилия" name="last-name"/>
					<br/>
					<div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" name="group-name" id="modal-save-group-name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выбор группы</button>
                            <div class="dropdown-menu">
                            	<div th:each="group : ${groups}">
                            		<div onclick="selectGroupForSave(this)">
                            			<input type="hidden" th:value="${group.getId()}"/>
                                    	<a class="dropdown-item" href="#" th:text="${group.getName()}">group</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
				</div>
				<div class="modal-footer">
    				<input type="submit" class="btn btn-outline-primary" value="Сохранить"/>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Закрыть</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- DELETE student modal -->
	<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить студента</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="students/delete">
				<div class="modal-body d-flex flex-column">
					<input type="hidden" id="modal-delete-person-id" name="person-to-be-deleted-id"/>
					<p>Вы действительно хотите удалить студента?</p>
					<p id="modal-delete-student-first-name">name</p>
					<p id="modal-delete-student-last-name">name</p>
				</div>
				<div class="modal-footer">
    				<input type="submit" class="btn btn-outline-primary" value="Удалить"/>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- EDIT student modal -->
	<div id="edit-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Редактировать студента</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="students/edit">
				<div class="modal-body d-flex flex-column">
					<input type="hidden" id="modal-edit-person-id" name="person-id"/>
					<input type="hidden" id="modal-edit-group-id" name="group-id"/>
					<input class="form-control" id="modal-edit-student-first-name" placeholder="Имя" name="first-name"/>
					<br/>				
					<input class="form-control" id="modal-edit-student-last-name" placeholder="Фамилия" name="last-name"/>
					<br/>
					<div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" name="group-name" id="modal-edit-group-name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выбор группы</button>
                            <div class="dropdown-menu">
                            	<div th:each="group : ${groups}">
                            		<div onclick="selectGroupForEdit(this)">
                            			<input type="hidden" th:value="${group.getId()}"/>
                                    	<a class="dropdown-item" href="#" th:text="${group.getName()}">group</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
				</div>
				<div class="modal-footer">
    				<input type="submit" class="btn btn-outline-primary" value="Изменить"/>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Закрыть</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	      
	<!-- All students table -->
    <div class="container">
    	<div class="row">
			<div class="col-12">
				<h4 class="text-primary">Все студенты</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
            		<thead>
    					<tr>
      						<th scope="col">Имя</th>
      						<th scope="col">Фамилия</th>
      						<th scope="col">Группа</th>
    					</tr>
  					</thead>
  					<tbody>
                	<div th:each="student : ${students}">
                		<tr onclick="select(this)">
                			<td>
                				<input type="hidden" th:value="${student.getPersonId()}" />
                				<input type="hidden" th:value="${student.getGroup().getId()}" />
                				<a href="#" th:text="${student.getFirstName()}">student</a>
                			</td>
                			<td>
                				<a href="#" th:text="${student.getLastName()}">student</a>
                			</td>
                			<td>
                				<a href="#" th:text="${student.getGroup().getName()}">group</a>
                			</td>
                		</tr>
                	</div>
                	</tbody>
                </table>
            </div>
            </div>
        </div>		
    </div>
    <hr/>
    <div class="container">
        		
		<div class="row">
			<div class="col-12 ">
				<button class="btn btn-outline-primary" onclick="showSaveModal()">Добавить</button>
				<button class="btn btn-outline-primary" onclick="showEditModal()">Редактировать</button>
				<button class="btn btn-outline-primary" onclick="showDeleteModal()">Удалить</button>
			</div>
		</div>
    </div>
    <hr/>
    
<script>
	
	function showSaveModal() {
        $("#save-modal").modal('show');
    }
	
	function showDeleteModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать студента для удаления!");
			return;
		}
		
		document.getElementById("modal-delete-person-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-delete-student-first-name").innerText = elements[0].getElementsByTagName("a")[0].innerText;
		document.getElementById("modal-delete-student-last-name").innerText = elements[0].getElementsByTagName("a")[1].innerText;
		
        $("#delete-modal").modal('show');
    }
	
	function showEditModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать студента для редактирования!");
			return;
		}
		
		document.getElementById("modal-edit-person-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-edit-group-id").value = elements[0].getElementsByTagName("input")[1].value;
		document.getElementById("modal-edit-student-first-name").value = elements[0].getElementsByTagName("a")[0].innerText;
		document.getElementById("modal-edit-student-last-name").value = elements[0].getElementsByTagName("a")[1].innerText;
		document.getElementById("modal-edit-group-name").value = elements[0].getElementsByTagName("a")[2].innerText;
		
        $("#edit-modal").modal('show');
    }
    
    function selectGroupForSave(element) {
        document.getElementById("modal-save-group-id").value = element.getElementsByTagName("input")[0].value;
        document.getElementById("modal-save-group-name").value = element.getElementsByTagName("a")[0].innerText;
    }
    
    function selectGroupForEdit(element) {
        document.getElementById("modal-edit-group-id").value = element.getElementsByTagName("input")[0].value;
        document.getElementById("modal-edit-group-name").value = element.getElementsByTagName("a")[0].innerText;
    }
</script>
<script src="resources/js/main.js"></script>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
</body>

</html>