<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="icon" href="resources/img/logo.png" type="image/icon type" />
    <title>Positions</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	<div th:include="~{error-modal :: error-modal}"></div>
	      
	<!-- DELET course modal -->
	<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить группу</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="groups/delete">
					<div class="modal-body d-flex flex-column">				
						<input type="hidden" id="modal-delete-id" name="id"/>				
						<p>Вы действтельно хотите удалить группу:</p><br/>
						<p id="modal-delete-name">name</p>
						<div class="modal-footer">
	    					<input type="submit" class="btn btn-outline-primary" value="Удалить"/>
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	      
    <!-- All groups table -->
    <div class="container">
    	<div class="row">
			<div class="col-12">
				<h4 class="text-primary">Все группы</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
            		<thead>
    					<tr>
      						<th scope="col">Наименование</th>
    					</tr>
  					</thead>
  					<tbody>
  						<div th:each="group : ${groups}">
                			<tr onclick="select(this)">
                				<td>
    								<input type="hidden" th:value="${group.getId()}" />
                					<a href="#" th:text="${group.getName()}">position</a>
                				</td>
                			</tr>
  						</div>
                	</tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <hr/>
    
	<form id="edit-form" method="GET" th:action="@{groups/edit}">
          	<input type="hidden" id="selected-id" name="id">					
	</form>
	
    <div class="container">        		
		<div class="row">
			<div class="col-12 ">
				<form method="GET" action="groups/manage" id="form-students-by-group-id">
					<div>
						<input type="hidden" name="group-id" id="selected-group-id" />
					</div>
				</form>
				<a href="#" class="btn btn-outline-primary d-inline" onclick="showGroupStudents()">Управление группой</a>
				<a href="groups/new" class="btn btn-outline-primary d-inline">Добавить</a>
				<a href="#" class="btn btn-outline-primary d-inline" onclick="showEditPage()">Редактировать</a>
				<a href="#" class="btn btn-outline-primary d-inline" onclick="showDeleteModal()">Удалить</a>
			</div>
		</div>
    </div>
    <hr/>
    
<script src="resources/js/main.js"></script>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
<script>

	function showEditPage() {
		
		var elements = document.getElementsByClassName("selected");
	
		if (elements.length == 0 ) {
			alert("Необходимо выбрать группу для редактирования!");
			return;
		}
	
		document.getElementById("selected-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("edit-form").submit();
	}
	
	function showDeleteModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать группу для удаления!");
			return;
		}
		
		document.getElementById("modal-delete-id").value =  elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-delete-name").innerText = elements[0].getElementsByTagName("a")[0].innerText;
		
        $("#delete-modal").modal('show');
    }
	
	function showGroupStudents() {

		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать группу!");
			return;
		}
		
		document.getElementById("selected-group-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("form-students-by-group-id").submit();
	}
    
    function init() {

    	if (document.getElementById("error-message").children.length != 0) {
    		$("#error-message-modal").modal('show');
    	}
    }
    
    init();
</script>
</body>

</html>