<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  
	<div th:fragment="header">

		
			<div class="container">
				<div class="row">
					<div class="col-6 d-flex flex-column">
						<h3 class="text text-primary font-weight-bold text-left">УНИВЕРСИТЕТ</h3>
					</div>
					<div class="col-6 d-flex flex-column">
						<a href="#" class="text text-primary text-right font-italic" id="username"></a>
					</div>
				</div>
			</div>
			
		
		<hr/>
    	<div class="container">			
     	   	<div class="row">
      	      <div class="col-12">
      	          <a href="/university/index" class="btn btn-outline-primary">домой</a>
      	          <a href="/university/lecturers" class="btn btn-outline-primary">преподаватели</a>
      	          <a href="/university/students" class="btn btn-outline-primary">студенты</a>
      	          <a href="/university/groups" class="btn btn-outline-primary">группы</a>
      	          <a href="/university/courses" class="btn btn-outline-primary">курсы</a>
      	          <a href="/university/positions" class="btn btn-outline-primary">должности</a>
      	          <a href="/university/timetable" class="btn btn-outline-primary">рассписание</a>
      	          <a href="/university/roles" class="btn btn-outline-primary">роли</a>
      	      </div>
      	  	</div>
    	</div>
    	<hr/>
	    <script>
	    function initHeader() {
	    	
	    	var xhr = new XMLHttpRequest();
	
	    	  xhr.onreadystatechange = function() {
	    	    if (xhr.readyState === 4) {
	    	      document.getElementById('username').innerText = xhr.response;
	    	    }
	    	  }
	
	    	  xhr.open('GET', '/university/user', true);
	    	  xhr.send('');
	    }
	    
	    initHeader();
	    </script>
    </div>
    <script>
    function initHeader() {
    	
    	var xhr = new XMLHttpRequest();

    	  xhr.onreadystatechange = function() {
    	    if (xhr.readyState === 4) {
    	      console.log(xhr.response);
    	    }
    	  }

    	  xhr.open('GET', '/university/user', true);
    	  xhr.send('');
    }
    
    initHeader();
    </script>
  </body>
  
</html>