<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="icon" href="resources/img/logo.png" type="image/png">
    <title>Greeting</title>
</head>

<body>    
    
	<div th:include="~{header :: header}"></div>	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div>
					<img src="resources/img/main-screen.png" alt="university-img" class="img-fluid"/>
				</div>				
			</div>
		</div>
	</div>
<script src="resources/js/main.js"></script>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
</body>

</html>