<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/css/main.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="icon" href="../resources/img/logo.png" type="image/png" />
    <title>User creation</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	<div th:include="~{error-modal :: error-modal}"></div>
	
	<input type="hidden"  id="users" />
	
    <div class="container">
        <div class="row">
            <div class="col border">
            	<h4 class="text-primary text-center">Управление пользователем</h4>
	       		<div class="container">
	       			<div class="row">
	       				<div class="col">
			       			<div>		            			
				            	<div class="borderd d-flex flex-column pt-3">
				            	
					            	<input type="hidden" id='id' th:value="${user.id}" />
					            	<input type="hidden" id='personId' th:value="${user.personId}" />
				            		
					            	<label for="userName" class="text text-primary mt-2" >Имя пользователя</label>
					            	<input id="userName" class="text text-primary form-control" th:value="${user.name}" />
				            	
					            	<label for="password" class="text text-primary mt-2" >Пароль</label>
				            		<input type="password" id="password" class="text text-primary form-control" value="" />
				            	
					            	<label for="firstName" class="text text-primary mt-2" >Имя</label>
				            		<input id="firstName" class="text text-primary form-control" th:value="${user.firstName}" />
				            	
					            	<label for="lastName" class="text text-primary mt-2" >Фамилия</label>
				            		<input id="lastName" class="text text-primary form-control" th:value="${user.lastName}" />
				            		
				            		<div id='enabledGroup'>
				            			<input type="hidden" id='enabled' th:value="${user.enabled}" />
				            			<label for="enabledSign" class="text mt-2 text-primary" >Статус:			</label>
				            			<a href="#" id="enabledSign" class="text border-0" onclick="changeStatus()"></a>
				            		</div>

					            </div>
				            </div>
			            </div>
			            <div  class="col">
			            	
			            	<label class="text text-primary mt-4" for="rolesTable">Роли</label>
			            	<table id="rolesTable" class="mt-2">			            		
			            		<tbody>
			            			<tr th:each="role : ${roles}">
			            				<td>
			            					<input type="hidden" th:value="${role.id}" />
			            					<input class="text text-primary border-0" th:value="${role.name}" />
			            				</td>
			            				<td>
			            					<input class=" border border-primary" type="checkbox" />
			            				</td>
			            			</tr>
			            		</tbody>
			            	</table>
			            	
			            	<div id="userRoles">
				            	<div th:each="role : ${user.roleSet}">
				            		<input type="hidden" th:value="${role.id}" />
				            	</div>
			            	</div>
			            	
			            </div>
		            </div>
	       			<div class="row">
	       				<div class="col">
				            <div class="d-flex flex-row-reverse mt-3">
				            	<a href="/university/users" class="btn btn-outline-primary" onclick="updateUser()">Назад</a>
				            	<a href="#" class="btn btn-outline-primary" onclick="updateUser()">Изменить</a>
				            </div>
	       				</div>
       				</div>
            	</div>
            	
            </div>
        </div>
    </div>
    
<script src="../resources/js/main.js"></script>
<script src="../resources/js/jquery.js"></script>
<script src="../resources/js/bootstrap.bundle.min.js"></script>
<script>
	function collectUser() {
		
		let user = new Object();
		let roleSet = new Array();
		
		
		user.id = document.getElementById('id').value;
		user.personId = document.getElementById('personId').value;
		user.name = document.getElementById('userName').value;
		user.password = document.getElementById('password').value;
		user.firstName = document.getElementById('firstName').value;
		user.lastName = document.getElementById('lastName').value;
		user.enabled = document.getElementById('enabled').checked;
				
		for (let row of document.getElementById('rolesTable').getElementsByTagName('tr')) {
			
			let fields = row.getElementsByTagName('input');
			
			if (fields[2].checked) {
				let role = new Object();
				role.id = fields[0].value;
				role.name = fields[1].value;
				roleSet.push(role);
			}
		}
		
		user.roleSet = roleSet;
		
		return user;
	}
	
	function updateUser() {
		
		const user = collectUser();
		const id = user.id;
		const method = 'PUT';
		const url = '/university/api/users/' + id;
		executRequest(method, url, user, doAfterUserSuccessfullyAddad);
	}
	
	function doAfterUserSuccessfullyAddad(data) {
		alert('user ' + data.name + ' was successfully updated');
	}
	
	function cansel() {}
</script>
<script>

	function checkStatus() {
		let enabledElementArray = document.getElementById('enabledGroup').children;
		
		if (enabledElementArray[0].value == 'true') {
			enabledElementArray[2].innerText = 'Активен';
			enabledElementArray[2].classList.add('text-primary');			
		} else {
			enabledElementArray[2].innerText = 'Заблокирован';
			enabledElementArray[2].classList.add('text-danger');
		}
	}
	
	function changeStatus() {
		let enabledElementArray = document.getElementById('enabledGroup').children;
		if (enabledElementArray[0].value == 'true') {
			enabledElementArray[0].value = 'false';
			enabledElementArray[2].innerText = 'Заблокирован';
			enabledElementArray[2].classList.remove('text-primary');			
			enabledElementArray[2].classList.add('text-danger');			
		} else {
			enabledElementArray[0].value = 'true';
			enabledElementArray[2].innerText = 'Активен';
			enabledElementArray[2].classList.remove('text-danger');
			enabledElementArray[2].classList.add('text-primary');
		}
	}
	
	function actualiseUserRoles() {		
		
		let userRoles = document.getElementById('userRoles').getElementsByTagName('input');
		let allRoles = document.getElementById('rolesTable').getElementsByTagName('tr');
		
		for (let roleElement of allRoles) {
			let roleProperties = roleElement.getElementsByTagName('input');
			for (let userRoleElement of userRoles) {
				if (roleProperties[0].value == userRoleElement.value) {
					roleProperties[2].checked = true;
				}
			}
		}
	}
	
	function initPage() {
		actualiseUserRoles();
		checkStatus();
	}
	
	window.addEventListener('load', initPage);
</script>
</body>

</html>