<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/css/main.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="icon" href="../resources/img/logo.png" type="image/png" />
    <title>User creation</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	<div th:include="~{error-modal :: error-modal}"></div>
	
	<input type="hidden"  id="users" />
	
    <div class="container">
        <div class="row">
            <div class="col border">
            	<h4 class="text-primary text-center">Существующие студенты и преподаватели</h4>
	            <div class="table-wrapper-scroll-y my-custom-scrollbar">
	            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
	            		<thead>
	    					<tr>
	      						<th scope="col">ID</th>
	      						<th scope="col">Имя</th>
	      						<th scope="col">Фамилия</th>
	      						<th scope="col">Зарегистрирован</th>
	    					</tr>
	  					</thead>
	  					<tbody id="personsTable">
	  						<div th:each="lecturer : ${allLecturers}">
	                			<tr onclick="select(this)">
	                				<td>
	    								<a href="#" th:text="${lecturer.personId}">person id</a>
	                				</td>
	                				<td>
	                					<a href="#" th:text="${lecturer.firstName}">First name</a>
	                				</td>
	                				<td>
	                					<a href="#" th:text="${lecturer.lastName}">Last name</a>
	                				</td>
	                				<td>
	                					<input type="checkbox" disabled />
	                				</td>
	                			</tr>
	  						</div>
	  						<div th:each="student : ${allStudents}">
	                			<tr onclick="select(this)">
	                				<td>
	    								<a href="#" th:text="${student.personId}">person id</a>
	                				</td>
	                				<td>
	                					<a href="#" th:text="${student.firstName}">First name</a>
	                				</td>
	                				<td>
	                					<a href="#" th:text="${student.lastName}">Last name</a>
	                				</td>
	                				<td>	                				
	                					<input type="checkbox" disabled />
	                				</td>
	                			</tr>
	  						</div>
	                	</tbody>
	                </table>
	            </div>
            </div>
            <div class="col border">
            	<h4 class="text-primary text-center">Управление пользователем</h4>
	       		<div class="container">
	       			<div class="row">
	       				<div class="col">
			       			<div>
				            	<form method="POST" th:action="@{user/new}" th:object="${newUser}">
				            			
					            	<div class="borderd d-flex flex-column pt-3">
						            	
						            	
						            	<input type="hidden" id="id" />
						            	<input type="hidden" id="personId" />
					            		
						            	<label for="userName" class="text text-primary mt-2" >Имя пользователя</label>
						            	<input id="userName" class="text text-primary form-control" th:field="*{name}" />
					            	
						            	<label for="password" class="text text-primary mt-2" >Пароль</label>
					            		<input type="password" id="password" class="text text-primary form-control" th:field="*{password}" />
					            	
						            	<label for="firstName" class="text text-primary mt-2" >Имя</label>
					            		<input id="firstName" class="text text-primary form-control" th:field="*{firstName}" />
					            	
						            	<label for="lastName" class="text text-primary mt-2" >Фамилия</label>
					            		<input id="lastName" class="text text-primary form-control" th:field="*{lastName}" />
					            		
					            		<table class="mt-4">			            		
						            		<tbody>
						            			<tr>			            			
						            				<td class="align-middle">
						            					<input class="text text-primary border-0" value="Активен" />
						            				</td>			            				
						            				<td class="align-middle">
						            					<input class="form-check-input" id="enabled" type="checkbox" th:check="${enabled}" th:value="${enabled}" th:field="*{enabled}" />
						            				</td>
						            			</tr>
						            		</tbody>
						            	</table>
						            </div>
					            </form>
				            </div>
			            </div>
			            <div  class="col">
			            	
			            	<label class="text text-primary mt-4" for="rolesTable">Роли</label>
			            	<table id="rolesTable" class="mt-2">			            		
			            		<tbody>
			            			<tr th:each="role : ${roles}">
			            				<td>
			            					<input type="hidden" th:value="${role.id}" />
			            					<input class="text text-primary border-0" th:value="${role.name}" />
			            				</td>
			            				<td>
			            					<input class=" border border-primary" type="checkbox" />
			            				</td>
			            			</tr>
			            		</tbody>
			            	</table>
			            	
			            </div>
		            </div>
	       			<div class="row">
	       				<div class="col">
				            <div class="d-flex flex-row-reverse mt-3">
				            	<a href="#" class="btn btn-outline-primary" onclick="registerUser()">Зарегистрировать</a>
				            </div>
	       				</div>
       				</div>
            	</div>
            	
            </div>
        </div>
    </div>
    
<script src="../resources/js/main.js"></script>
<script src="../resources/js/jquery.js"></script>
<script src="../resources/js/bootstrap.bundle.min.js"></script>
<script>
	function registerUser() {
		
		let user = new Object();
		let roleSet = new Array();
		
		user.id = document.getElementById('id').value;
		user.personId = document.getElementById('personId').value;
		user.name = document.getElementById('userName').value;
		user.password = document.getElementById('password').value;
		user.firstName = document.getElementById('firstName').value;
		user.lastName = document.getElementById('lastName').value;
		user.enabled = document.getElementById('enabled').checked;
		
		for (let row of document.getElementById('rolesTable').getElementsByTagName('tr')) {
			
			let fields = row.getElementsByTagName('input');
			
			if (fields[2].checked) {
				let role = new Object();
				role.id = fields[0].value;
				role.name = fields[1].value;
				roleSet.push(role);
			}
		}
		
		user.roleSet = roleSet;
		
		const method = 'POST';
		const url = '/university/api/users';
		executRequest(method, url, user, doAfterUserSuccessfullyAddad);
	}
	
	function doAfterUserSuccessfullyAddad() {
		refreshAllUsers();
		clearNewUser();
	}
	
	function clearNewUser() {
		
		document.getElementById('id').value = '';
		document.getElementById('personId').value = '';
		document.getElementById('userName').value = '';
		document.getElementById('password').value = '';
		document.getElementById('firstName').value = '';
		document.getElementById('lastName').value = '';
		document.getElementById('enabled').checked = '';
	}
	
	function cancel() {}
	
</script>
<script>

	let allUsers;

	function select(element) {
		
		const personFields = element.getElementsByTagName('a');
		const personId = personFields[0].innerText;
		const firstName = personFields[1].innerText;
		const lastName = personFields[2].innerText;	
		const user = findUserByPersonId(personId);
		
		if (user == null) {				
			populateNewUserFields( '', personId, '', firstName, lastName, true);
		} else {	
			clearNewUser();
		}		
	}
	
	function populateNewUserFields(id='', personId='', userName='', firstName='', lastName='', enabled=true) {
				
		document.getElementById('id').value = id;
		document.getElementById('personId').value = personId;
		document.getElementById('userName').value = userName;
		document.getElementById('firstName').value = firstName;
		document.getElementById('lastName').value = lastName;
		document.getElementById('enabled').checked = enabled;		
	}
	
	function findUserByPersonId(personId) {
		
		for (let user of allUsers) {
			if (user.personId == personId) {
				return user;
			}
		}
		
		return null;
	}
	
	function fillUsersTableRegisteredColumn(users) {
				
		allUsers = users;
		
		const tableRows = document.getElementById('personsTable').getElementsByTagName('tr');
		
		for (let row of tableRows) {
			const personId = row.getElementsByTagName('a')[0].innerText;
			const checkField = row.getElementsByTagName('input')[0];
			
			if (findUserByPersonId(personId) != null) {
				checkField.checked = true;
			} else {
				checkField.checked = false;
			}
		}
	}
	
	function refreshAllUsers() {		
		get('/university/api/users', fillUsersTableRegisteredColumn);
	}
	
	window.addEventListener('load', function() {
		refreshAllUsers();
    });
</script>
</body>

</html>