<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/logo.png}" type="image/png" />
    <title>Roles</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	<div th:include="~{error-modal :: error-modal}"></div>
	
	<input type="hidden" id="active-modal-window" th:value="${activeWindow}"/>
	      
	<!-- DELET role modal -->
	<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить роль</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="roles/delete">
					<div class="modal-body d-flex flex-column">				
						<input type="hidden" id="modal-delete-id" name="id"/>				
						<p>Вы действтельно хотите удалить роль:</p><br/>
						<p id="modal-delete-name">name</p>
						<div class="modal-footer">
	    					<input type="submit" class="btn btn-outline-primary" value="Удалить"/>
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>      
	      
	<!-- All roles table -->
    <div class="container">
    	<div class="row">
			<div class="col-12">
				<h4 class="text-primary">Все роли</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
            		<thead>
    					<tr>
      						<th scope="col">Наименование</th>
      						<th scope="col">Права пользователя</th>
    					</tr>
  					</thead>
  					<tbody>
               			<tr th:each="role : ${roles}" onclick="select(this)">
               				<td>                				
   								<input type="hidden" th:value="${role.getId()}" />
               					<a href="#" th:text="${role.name}">role</a>                					
               				</td>
               				<td>
               					<ul>
               						<li th:each="authority : ${role.authorities}" th:text="${authority.name}"></li>
               					</ul>
               				</td>
               			</tr>
                	</tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <hr/>
    
	<form id="edit-form" method="GET" th:action="@{roles/edit}">
          	<input type="hidden" id="selected-id" name="id">					
	</form>
	
    <div class="container">        		
		<div class="row">
			<div class="col-12 ">
				<a href="roles/new" class="btn btn-outline-primary">Добавить</a>
				<a href="#" class="btn btn-outline-primary" onclick="showEditPage()">Редактировать</a>
				<button class="btn btn-outline-primary" onclick="showDeleteModal()">Удалить</button>
			</div>
		</div>
    </div>
    <hr/>
    
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
	
	function showDeleteModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать роль для удаления!");
			return;
		}
		
		document.getElementById("modal-delete-id").value =  elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-delete-name").innerText = elements[0].getElementsByTagName("a")[0].innerText;
		
        $("#delete-modal").modal('show');
    }
    
    function showEditPage() {
    	
    	var elements = document.getElementsByClassName("selected");
	
		if (elements.length == 0 ) {
			alert("Необходимо выбрать курс для редактирования!");
			return;
		}
	
		document.getElementById("selected-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("edit-form").submit();
    }
    
    function init() {

    	if (document.getElementById("error-message").children.length != 0) {
    		$("#error-message-modal").modal('show');
    	}
    }
    
    function showActiveModal() {
    	
    	let activeModalWindow = document.getElementById("active-modal-window").value;
    	
    	console.log("active window is " + activeModalWindow);
    	
    	if (activeModalWindow == "save") {
    		$("#save-modal").modal('show');
    	} else if (activeModalWindow == "edit") {
    		$("#edit-modal").modal('show');
    	}
    }
    
    init();
</script>
</body>

</html>