<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/logo.png}" type="image/icon type" />
    <title>Students</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	
	<!-- ADD student modal -->
	<div id="add-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Добавить студента</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="add-student">
				<div class="modal-body d-flex flex-column">
					<input type="hidden" id="modal-add-group-id" name="groupId"/>
					<input type="hidden" id="modal-add-student-id" name="studentId"/>
					<div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" name="group-name" id="modal-add-student-name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выбор студента</button>
                            <div class="dropdown-menu">
                            	<div th:each="student : ${studentsWithoutGroup}">
                            		<div onclick="selectStudentToAdd(this)">
                            			<input type="hidden" th:value="${student.getPersonId()}"/>
                                    	<a class="dropdown-item" href="#" th:text="${student.getFirstName() + ' ' + student.getLastName()}">студент</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                	</div>
				</div>
				<div class="modal-footer">
    				<input type="submit" class="btn btn-outline-primary" value="Добавить"/>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Закрыть</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- REMOVE student modal -->
	<div id="remove-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить студента из группы</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="remove-student">
				<div class="modal-body d-flex flex-column">
					<input type="hidden" id="modal-remove-person-id" name="studentId"/>
					<input type="hidden" id="modal-remove-group-id" name="groupId"/>
					<p>Вы действительно хотите удалить студента из этой группы?</p>
					<p id="modal-remove-student-first-name">name</p>
					<p id="modal-remove-student-last-name">name</p>
				</div>
				<div class="modal-footer">
    				<input type="submit" class="btn btn-outline-primary" value="Удалить из группы"/>
					<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	      
	<!-- Group students table -->
    <div class="container">
    	<div class="row">
			<div class="col-12 pb-3">				
				<h4 class="text-primary d-inline">Управление группой </h4>
				<h4 class="text-primary d-inline" th:text="${group.getName()}">группа не определена</h4>				
			</div>
		</div>
        <div class="row">
            <div class="col-12">
            <input type="hidden" id="selected-group-id" th:value="${group.getId()}" />
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar" id="student-table">
            		<thead>
    					<tr>
      						<th scope="col"><a href="#" onclick="sortTable('student-table', '0')">Имя</a></th>
      						<th scope="col"><a href="#" onclick="sortTable('student-table', '1')">Фамилия</a></th>
      						<th scope="col"><a href="#" onclick="sortTable('student-table', '2')">Группа</a></th>
    					</tr>
  					</thead>
  					<tbody>                	
                		<tr th:each="student : ${students}" onclick="select(this)">
                			<td>
                				<input type="hidden" th:value="${student.getPersonId()}" />
                				<input type="hidden" th:value="${student.getGroup().getId()}" />
                				<a href="#" th:text="${student.getFirstName()}">student</a>
                			</td>
                			<td>
                				<a href="#" th:text="${student.getLastName()}">student</a>
                			</td>
                			<td>
                				<a href="#" th:text="${student.getGroup().getName()}">group</a>
                			</td>
                		</tr>                	
                	</tbody>
                </table>
            </div>
            </div>
        </div>		
    </div>
    <hr/>
    <div class="container">
        		
		<div class="row">
			<div class="col-12 ">
				<button class="btn btn-outline-primary" onclick="showAddModal()">Добавить в группу</button>
				<button class="btn btn-outline-primary" onclick="showRemoveModal()">Удалить из группы</button>
				<a href="/university/groups" class="btn btn-outline-primary" >Назад</a>
			</div>
		</div>
    </div>
    <hr/>
    
<script>
	
	function showAddModal() {
        $("#add-modal").modal('show');
    }
	
	function showRemoveModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать студента для удаления из группы!");
			return;
		}
		
		document.getElementById("modal-remove-person-id").value = elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-remove-group-id").value = document.getElementById("selected-group-id").value;
		document.getElementById("modal-remove-student-first-name").innerText = elements[0].getElementsByTagName("a")[0].innerText;
		document.getElementById("modal-remove-student-last-name").innerText = elements[0].getElementsByTagName("a")[1].innerText;
		
        $("#remove-modal").modal('show');
    }
    
    function selectStudentToAdd(element) {
        document.getElementById("modal-add-group-id").value = document.getElementById("selected-group-id").value;
        document.getElementById("modal-add-student-id").value = element.getElementsByTagName("input")[0].value;
        document.getElementById("modal-add-student-name").value = element.getElementsByTagName("a")[0].innerText;
    }
    
    function sort() {
    	let table = document.getElementById('student-table');
    	let row = Array.from(table.rows)
    		.slice(1)
    		.sort((rowA, rowB) => rowA.getElementsByTagName('td')[0].innerText > rowB.getElementsByTagName('td')[0].innerText ? 1 : -1);
    	table.tBodies[0].append(...row);
    	console.log(row[0].getElementsByTagName('td')[0].innerText);
    }
</script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>