<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/logo.png}" type="image/png" />
    <title>Admin</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	<div th:include="~{error-modal :: error-modal}"></div>
	
	<input type="hidden" id="active-modal-window" th:value="${activeWindow}"/>

	<!-- DELET user modal -->
	<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить пользователя</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="users/delete">
					<div class="modal-body d-flex flex-column">				
						<input type="hidden" id="modal-delete-id" name="id"/>				
						<p>Вы действтельно хотите удалить пользователя:</p><br/>
						<p id="modal-delete-name">name</p>
						<div class="modal-footer">
	    					<input type="submit" class="btn btn-outline-primary" value="Удалить"/>
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>      
	      
	<!-- All users table -->
    <div class="container">
    	<div class="row">
			<div class="col-9">
				<h4 class="text-primary">Все пользователи</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-9">
	            <div class="table-wrapper-scroll-y my-custom-scrollbar">
	            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
	            		<thead>
	    					<tr>
	      						<th scope="col">Имя пользователя</th>
	      						<th scope="col">Имя</th>
	      						<th scope="col">Фамилия</th>
	      						<th scope="col">Статус</th>
	    					</tr>
	  					</thead>
	  					<tbody>
                			<tr th:each="user : ${userList}" onclick="select(this)">
                				<td>                				
    								<input type="hidden" th:value="${user.id}" />
                					<a href="#" th:text="${user.name}">name</a>
                				</td>
                				<td>
                					<a href="#" th:text="${user.firstName}">First name</a>
                				</td>
                				<td>
                					<a href="#" th:text="${user.lastName}">Last name</a>
                				</td>
                				<td>
                					<a href="#" th:text="${user.enabled} ? 'активен' : 'заблокирован'">Status</a>
                				</td>
                			</tr>
	                	</tbody>
	                </table>
	            </div>
            </div>
        </div>
    </div>
    <hr/>
    
	<form id="edit-form" method="GET" th:action="@{courses/edit}">
          	<input type="hidden" id="selected-id" name="id">					
	</form>
	
    <div class="container">        		
		<div class="row">
			<div class="col-12 ">
				<a href="/university/users/new" class="btn btn-outline-primary">Регистрировать</a>
				<a href="javascript: editUser();" class="btn btn-outline-primary">Редактировать</a>
				<button class="btn btn-outline-primary" onclick="showDeleteModal()">Удалить</button>
			</div>
		</div>
    </div>
    <hr/>
    
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>

	function showDeleteModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать пользователя для удаления!");
			return;
		}
		
		document.getElementById("modal-delete-id").value =  elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-delete-name").innerText = elements[0].getElementsByTagName("a")[0].innerText;
		
	    $("#delete-modal").modal('show');
	}

	function editUser() {
		
		let userId = getSelectedUserId();
		
		if (userId == null) {
			alert('Нужно выбрать пользователя');
			return;
		}		
		
		let url = '/university/users/' + userId;
		document.location.href = url;		
	}
	
	function getSelectedUserId() {
		
		if (document.getElementsByClassName('selected').length == 0) {
			return null;
		}
		
		return document.getElementsByClassName('selected')[0]
		.getElementsByTagName('input')[0].value;
	}
</script>
</body>

</html>