<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/main.css">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="icon" href="resources/img/logo.png" type="image/icon type" />
    <title>Timetable</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	      
	<!-- DELET course modal -->
	<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить запись из рассписания</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form method="POST" action="timetable/delete">
					<div class="modal-body d-flex flex-column">				
						<input type="hidden" id="modal-delete-id" name="id"/>				
						<p>Вы действтельно хотите удалить запись:</p><br/>
						<p id="modal-delete-date">date</p>
						<p id="modal-delete-course">date</p>
						<p id="modal-delete-lecturer">date</p>
						<div class="modal-footer">
	    					<input type="submit" class="btn btn-outline-primary" value="Удалить"/>
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal">Отменить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

    <!-- Timetable -->
    <div class="container">
    	<div class="row">
			<div class="col-12">
				<h4 class="text-primary">Все занятия</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-12">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
            		<thead>
    					<tr>
      						<th scope="col">Дата</th>
      						<th scope="col">Вемя</th>
      						<th scope="col">Курс</th>
      						<th scope="col">Преподаватель</th>
      						<th scope="col">Группы</th>
    					</tr>
  					</thead>
  					<tbody id="timetable">
  						<div th:each="timetableRecord : ${timetableRecords}">
                			<tr>
                				<td>
    								<input type="hidden" th:value="${timetableRecord.id}" />
    								<input type="hidden" th:value="${timetableRecord.date}" />
                					<a href="#">date</a>
                				</td>
                				<td>
                					<a href="#">time</a>
                				</td>
                				<td>
                					<a href="#" th:text="${timetableRecord.course.name}">course</a>
                				</td>
                				<td>
                					<a href="#" th:text="${timetableRecord.lecturer.firstName} + ' ' + ${timetableRecord.lecturer.lastName}">lecturer</a>
                				</td>
                				<td>
                					<span th:each="group : ${timetableRecord.groupList}">
                						<a href="#" th:text="${group.name}">groups</a><span> </span>
                					</span>                					
                				</td>
                			</tr>
  						</div>
                	</tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">        		
		<div class="row">
			<div class="col-12 d-flex">
				<div>
					<form method="GET" action="timetable/detail">
						<input type="hidden" id="to-be-detailed-record-id" name="recordId"/>
						<input onclick="submitForm(this, 'to-be-detailed-record-id')" class="btn btn-outline-primary" value="Смотреть подробно"/>
					</form>
				</div>
				<div>
					<a href="timetable/new" class="btn btn-outline-primary">Добавить</a>
				</div>
				<div>
					<form method="GET" action="timetable/edit">
						<input type="hidden" id="to-be-edited-record-id" name="recordId"/>
						<input onclick="submitForm(this, 'to-be-edited-record-id')" class="btn btn-outline-primary" value="Редактировать"/>
					</form>
				</div>		
				<button class="btn btn-outline-primary" onclick="showDeleteModal()">Удалить</button>
			</div>
		</div>
    </div>
    <hr/>
    
<script src="resources/js/main.js"></script>
<script>

	function submitForm(element, id) {
		
		if (document.getElementById(id).value == '') {
			alert("Вначале необходимо выбрать запись в таблице!");
			return;
		}
		
		element.parentNode.submit();
	}
	
	function eventListenerHandler() {
		
		recordTable = document.getElementById("timetable");
		recordTableRows = recordTable.getElementsByTagName("tr");
		for (let i = 0; i < recordTableRows.length; i++) {
			recordTableRows[i].addEventListener("click", () => select(recordTableRows[i]));
			recordTableRows[i].addEventListener("click", () => {
				document.getElementById("to-be-detailed-record-id").value = recordTableRows[i].getElementsByTagName("input")[0].value;
				document.getElementById("to-be-edited-record-id").value = recordTableRows[i].getElementsByTagName("input")[0].value;
			});
		}
	}
		
	function showDeleteModal() {
		
		var elements = document.getElementsByClassName("selected");
		
		if (elements.length == 0 ) {
			alert("Необходимо выбрать запись для удаления!");
			return;
		}
		
		let tagAList = elements[0].getElementsByTagName("a");
		
		document.getElementById("modal-delete-id").value =  elements[0].getElementsByTagName("input")[0].value;
		document.getElementById("modal-delete-date").innerText = tagAList[0].innerText + ' ' + tagAList[1].innerText;
		document.getElementById("modal-delete-course").innerText = tagAList[2].innerText;
		document.getElementById("modal-delete-lecturer").innerText = tagAList[3].innerText;
		
        $("#delete-modal").modal('show');
    }
	
	eventListenerHandler();
</script>
<script>
	let table = document.getElementById("timetable");
	let rows = table.getElementsByTagName("tr");
	
	for (let i = 0; i < rows.length; i++) {
		let cells = rows[i].getElementsByTagName("a");
		let dateTime = rows[i].getElementsByTagName("input")[1].value;
		cells[0].innerText = getDate(dateTime);
		cells[1].innerText = getTime(dateTime);
	}
</script>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
</body>

</html>