<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  
	<div th:fragment="header">

		
		<div class="container">
			<div class="row">
				<div class="col-6 d-flex flex-column">
					<h3 class="text text-primary font-weight-bold text-left">УНИВЕРСИТЕТ</h3>
				</div>
				<div class="col-6 d-flex flex-column">
					<a href="javascript: goToPage();" class="text text-primary text-right font-italic" id="username"></a>
				</div>
			</div>
		</div>			
		
		<hr/>
    	<div class="container">			
     	   	<div class="row">
      	      <div class="col-12">
      	          <a href="/university/index" class="btn btn-outline-primary">домой</a>
      	          <a href="/university/lecturers" class="btn btn-outline-primary">преподаватели</a>
      	          <a href="/university/students" class="btn btn-outline-primary">студенты</a>
      	          <a href="/university/groups" class="btn btn-outline-primary">группы</a>
      	          <a href="/university/courses" class="btn btn-outline-primary">курсы</a>
      	          <a href="/university/positions" class="btn btn-outline-primary">должности</a>
      	          <a href="/university/timetable" class="btn btn-outline-primary">расписание</a>
      	          <a href="/university/roles" class="btn btn-outline-primary">роли</a>
      	          <a href="/university/users" class="btn btn-outline-primary">пользователи</a>
      	      </div>
      	  	</div>
    	</div>
    	<hr/>
	    <script>
	    
	    	function goToPage() {
	    		
	    		get('/university/users/active-user', function(data){
	    			let user = data;
	    			if (user.firstName == 'Unregistered') {
	    				document.location.href = '/university/login';
	    			} else {
	    				if (confirm('Вы действительно хотите выйти?')){	  
	    					document.location.href = '/university/logout';
	    				}
	    			}
	    		});
	    	}
	    
		    function setActiveUser(data) {
		    	
		    	let user = data;
		    	document.getElementById('username').innerText = user.firstName + " " + user.lastName;
		    }
		    
		    window.addEventListener("load", function() {
		        get('/university/api/users/active-user', setActiveUser);
		    });
	    </script>
    </div>
  </body>
  
</html>