<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/logo.png}" type="image/icon type" />
    <title>Timetable</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	<div th:include="~{error-modal :: error-modal}"></div>

   <!-- TimetableRecord -->
	<form method="POST" action="edit" id="edit-record-form" th:object="${newRecord}">
	
	    <div class="container">
	    
	    	<div class="row">
				<div class="col-12">
					<h4 class="text-primary">Редактирование существующего занятия в расписании</h4>
				</div>
			</div>		
			
			<!-- Date time -->
			<div class="row pt-3">
				<div class="col-4">
					<label for="date-picker" class="text text-primary">Дата</label><br/>
					<input type="datetime-local" class="text text-primary" id="date-picker" onchange="toTimeInput()"/>
				</div>
				<input type="hidden" id="date" th:field="*{date}"/>
			</div>
			
			<input type="hidden" th:field="*{id}"  />
			
			<!-- Course -->
	        <div class="row  pt-3">
	            <div class="col-12">
		            <div class="d-flex flex-column">
		            	<label class="text text-primary">Учебный курс</label>
		            	<div class="input-group">
		                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="course-name" th:value="${newRecord.course.name}" readonly>
		                    <div class="input-group-append">
		                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выбор учебного курса</button>
		                        <div class="dropdown-menu">
		                        	<div th:each="course : ${courses}">
		                        		<div onclick="selectCourse(this)">
		                        			<input type="hidden" th:value="${course.id}"/>
		                        			<input type="hidden" th:value="${course.description}"/>
		                                	<a class="dropdown-item" href="#" th:text="${course.name}">course</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		               	</div>
		               	<input type="hidden" id="field-course-id" th:field="*{course.id}"/>
		            	<label class="text text-primary">Описание учебного курса</label>
		               	<textarea rows="2" cols="auto" id="course-description" th:text="${newRecord.course.description}" readonly></textarea><br/>
	               	</div>
	             	</div>
	          	</div>
	               	
	        <!-- Lecturer -->       	
	          	<div class="row  pt-3">
		            <div class="col-12">
		            	<div class="d-flex flex-column">
		            	<label class="text text-primary">Преподаватель</label>
		            	<div class="input-group">
		                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="lecturer" 
			                    th:value="
			                    ${newRecord.lecturer.firstName} ? ${newRecord.lecturer.firstName} + ' ' + ${newRecord.lecturer.lastName} : ''
			                    " readonly>
		                    <div class="input-group-append">
		                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Выбор преподавателя</button>
		                        <div class="dropdown-menu">
		                        	<div th:each="lecturer : ${lecturers}">
		                        		<div onclick="selectLecturer(this)">
		                        			<input type="hidden" th:value="${lecturer.personId}"/>                   			
		                                	<a class="dropdown-item" href="#" th:text="${lecturer.getPosition().getName() + ' - ' + lecturer.getFirstName() + ' ' + lecturer.getLastName()}">lecturer</a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		               	</div>     	
	           			<input type="hidden" id="field-lecturer-id" th:field="*{lecturer.personId}"/>
		               	</div>
	              	</div>
	          	</div>	               	
	               	
	        <!-- Group -->       	
	          	<div class="row  pt-3">
	            <div class="col-12">
	            	<div class="d-flex flex-column">
		            	<label class="text text-primary">Группы</label>
	            	
						<div class="dropdown show">
							<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							   Выбрать группу
							</a>
						
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<div th:each="group : ${groups}">								    	
							    	<input type="hidden" th:value="${group.id}"/>								    	
							    	<a class="list-group-item list-group-item-action" href="#" th:text="${group.getName()}" onclick="addGroup(this)">group</a>								    								    	
						    	</div>
							</div>
						</div>
	            	
		            	<div class="pt-3">
		            		<table class="table table-hover table-striped table-bordered table-sm">
			            		<thead>
			    					<tr>
			      						<th scope="col">Наименование группы</th>
			    					</tr>
			  					</thead>
			  					<tbody id="table-of-grops">	    
			  						<tr onclick="removeGroup(this)" th:each="group : ${newRecord.groupList}">
			  							<td><input type='hidden' th:value="${group.id}"></input><p th:text="${group.name}"></p></td>
			  						</tr>         			
			                	</tbody>
		                	</table>
		                	<input type="hidden" id="groups-id" name="groupsId" th:value="${groupsId}"/>
		                </div>
	            	</div>
	            </div>
	        </div>	        
	    </div>
    </form>
    <div class="container">        		
		<div class="row pt-3">
			<div class="col-12 d-flex">
				<a href="#" class="btn btn-outline-primary" onclick="submitEditRecordForm()">Изменить</a>
				<a href="/university/timetable" class="btn btn-outline-primary">Назад</a>
			</div>
		</div>
    </div>
    <hr/>    

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
	
initPage();

	function submitEditRecordForm() {
				
		document.getElementById("edit-record-form").submit();
		
	}
	
	function checkFieldsToBeSubmitted() {
		
		if (document.getElementById("date").value == ""
				| document.getElementById("lecturer-id").value == ""
				| document.getElementById("course-id").value == ""
				| document.getElementById("groups-id").value == "") {
			
			alert("Все поля должны быть заполнены!");
			return false;
		}
		
		return true;
	}
	
	function selectLecturer(element) {		
		document.getElementById("lecturer").value = element.getElementsByTagName("a")[0].innerText;
		document.getElementById("field-lecturer-id").value = element.getElementsByTagName("input")[0].value;
	}
	
	function selectCourse(element) {		
		document.getElementById("course-name").value = element.getElementsByTagName("a")[0].innerText;
		document.getElementById("course-description").innerText = element.getElementsByTagName("input")[1].value;
		document.getElementById("field-course-id").value = element.getElementsByTagName("input")[0].value;
	}
	
	function addGroup(element) {
		
		let table = document.getElementById("table-of-grops");
		let rows = table.getElementsByTagName("p");
		let previousHTML = table.innerHTML;
		let groupName = element.innerText;
		
		for (let i = 0; i < rows.length; i++) {
			if (rows[i].innerText == groupName) {
				alert("Такая группа уже есть в списке");
				return;
			}
		}
				
		let groupId = element.parentNode.getElementsByTagName("input")[0].value;
		let additionHTML = "<tr onclick='removeGroup(this)' ><td><input type='hidden' value='" + groupId + "'></input><p>" + groupName + "</p></td></tr>";
		table.innerHTML = additionHTML + previousHTML;
		
		refresh();
	}
	
	function refresh() {
		
		let table = document.getElementById("table-of-grops");
		let elementGroupsForSubmit = document.getElementById("groups-id");
		let groupsIdText = "";
		let rows = table.getElementsByTagName("tr");
		
		for (let i = 0; i < rows.length; i++) {
			groupsIdText = groupsIdText + rows[i].getElementsByTagName("input")[0].value + ",";
		}
		
		elementGroupsForSubmit.value = groupsIdText.slice(0, groupsIdText.length - 1);
	}
	
	function removeGroup(element) {
				
		let groupName = element.getElementsByTagName("p")[0].innerText;
		
		if (confirm("Вы действительно хотите удалить группу " + groupName + "?")) {			
			element.parentNode.removeChild(element);
			refresh();
		}
	}
	/*
	function setDateTime(dateTime) {
		let dateElement = document.getElementById("date");
		let dateeTimeString = dateTime.toISOString();
		dateElement.value = dateeTimeString.slice(0, dateeTimeString.length - 1);
	}
	
	function setDate() {
		
		let dateElement = document.getElementById("date");
		let element = document.getElementById("date-picker");
		
		let recordDate = new Date(dateElement.value);
		let newDate = new Date(element.value);

		recordDate.setDate(newDate.getDate());
		recordDate.setMonth(newDate.getMonth());
		recordDate.setFullYear(newDate.getFullYear());
		
		setDateTime(recordDate);
	}
	
	function setTime() {
		
		let element = document.getElementById("time-picker");
		let dateElement = document.getElementById("date");
		let recordDate = new Date(dateElement.value);		
		let newTimeParts = element.value.split(":");
				
		recordDate.setUTCHours(newTimeParts[0]);
		recordDate.setMinutes(newTimeParts[1]);
		
		setDateTime(recordDate);
	}
	*/
	function toDateTimePicker() {	
		
		let date = new Date();
        let srcDate = new Date(document.getElementById("date").value);
        let offset = date.getTimezoneOffset() * 60000 * (-1);
        let target = new Date(srcDate.getTime() + offset);
        
		document.getElementById("date-picker").value = target.toISOString().slice(0, -8);
	}
	
	function toTimeInput() {
		
		let date = new Date(document.getElementById("date-picker").value);
        let offset = date.getTimezoneOffset() * 60000 * (-1);
        date = new Date(date.getTime() + offset);
        document.getElementById("date").value = date.toISOString().slice(0, -5);
	}
	
	function initPage() {
		
		if (document.getElementById("error-message").children.length != 0) {
			$("#error-message-modal").modal('show');
		}
		
		toDateTimePicker();
	}
</script>
</body>

</html>