<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/css/main.css">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="icon" href="../resources/img/logo.png" type="image/png" />
    <title>New role</title>
</head>

<body>

	<div th:include="~{header :: header}"></div>
	<div th:include="~{error-modal :: error-modal}"></div>
	
	<div class="container">
	
			
		<div class="row d-flex justify-content-start pb-3">
			<div class="col-12">				
				<h5 class="text-primary d-flex">Новая роль</h5>
			</div>
		</div>
		
		<form action="#" th:action="@{new}" th:object="${role}" method="post">
		
			<div class="row d-flex justify-content-start">
				<div class="col-12">
					<div class="d-flex flex-column pb-3">
						<input type="hidden" th:name="id" th:value="${role.id}" />
						<input th:name="name" th:value="${role.name}" />
					</div>
				</div>
			</div>
			
			<div class="row d-flex justify-content-start pb-3">
				<div class="col-12">				
					<h5 class="text-primary d-flex">Права пользователя</h5>
				</div>
			</div>
			
			<div class="row">
	            <div class="col-12">
	            <div class="table-wrapper-scroll-y my-custom-scrollbar">
	            	<table class="table table-hover table-striped table-bordered table-sm my-custom-scrollbar">
	            		<thead>
	    					<tr>
	      						<th scope="col">Наименование права пользователя</th>
	      						<th scope="col">Статус</th>
	    					</tr>
	  					</thead>
	  					<tbody id="authorities"> 			
	               			<tr th:each="authority, stats : *{authorities}">
	               				<td th:text="${authority.key}" name="value" th:value="${authority.key}" readonly="true"></td>
	               				<td>
	               					<input type="checkbox" th:checked="${authority.value}" th:value="${authority.value}" th:field="*{authorities[__${authority.key}__]}" th:name="value"/>
	               				</td>
	               			</tr>  						
	                	</tbody>
	                </table>
	            </div>
	            </div>
	        </div>
			
			<div class="row d-flex justify-content-start">
				<div class="col-12">
					<input type="submit" class="btn btn-primary" value="Сохранить" />
					<a href="/university/roles" class="btn btn-primary">Отменить</a>
				</div>
			</div>
        
        </form>
		
	</div>
    
<script src="../resources/js/main.js"></script>
<script src="../resources/js/jquery.js"></script>
<script src="../resources/js/bootstrap.bundle.min.js"></script>
<script>

init();

function init() {

	if (document.getElementById("error-message").children.length != 0) {
		$("#error-message-modal").modal('show');
	}
}

function cancel() {
	window.location.href = "roles";
}
</script>
</body>

</html>